<div class="divLetras">
  <!-- Letra A -->
  <div [ngClass]="{'letraUsada':letrasUsadas[0] , 'letra':true}" (click)="validarLetra('A')">
    <img src="../../assets/svg/Letra A.svg">
  </div>
  <!-- Letra B -->
  <div [ngClass]="{'letraUsada':letrasUsadas[1] , 'letra':true}" (click)="validarLetra('B')">
    <img src="../../assets/svg/Letra B.svg">
  </div>
  <!-- Letra C -->
  <div [ngClass]="{'letraUsada':letrasUsadas[2] , 'letra':true}" (click)="validarLetra('C')">
    <img src="../../assets/svg/Letra C.svg">
  </div>
  <!-- Letra D -->
  <div [ngClass]="{'letraUsada':letrasUsadas[3] , 'letra':true}" (click)="validarLetra('D')">
    <img src="../../assets/svg/Letra D.svg">
  </div>
  <!-- Letra E -->
  <div [ngClass]="{'letraUsada':letrasUsadas[4] , 'letra':true}" (click)="validarLetra('E')">
    <img src="../../assets/svg/Letra E.svg">
  </div>
  <!-- Letra F -->
  <div [ngClass]="{'letraUsada':letrasUsadas[5] , 'letra':true}" (click)="validarLetra('F')">
    <img src="../../assets/svg/Letra F.svg">
  </div>
  <!-- Letra G -->
  <div [ngClass]="{'letraUsada':letrasUsadas[6] , 'letra':true}" (click)="validarLetra('G')">
    <img src="../../assets/svg/Letra G.svg">
  </div>
  <!-- Letra H -->
  <div [ngClass]="{'letraUsada':letrasUsadas[7] , 'letra':true}" (click)="validarLetra('H')">
    <img src="../../assets/svg/Letra H.svg">
  </div>
  <!-- Letra I -->
  <div [ngClass]="{'letraUsada':letrasUsadas[8] , 'letra':true}" (click)="validarLetra('I')">
    <img src="../../assets/svg/Letra I.svg">
  </div>
  
</div>

<!--  Segunda linha  -->
<div class="divLetras">
  <!-- Letra J -->
  <div [ngClass]="{'letraUsada':letrasUsadas[9] , 'letra':true}" (click)="validarLetra('J')">
      <img src="../../assets/svg/Letra J.svg">
    </div>
    <!-- Letra K -->
    <div [ngClass]="{'letraUsada':letrasUsadas[10] , 'letra':true}" (click)="validarLetra('K')">
      <img src="../../assets/svg/Letra K.svg">
    </div>
    <!-- Letra L -->
    <div [ngClass]="{'letraUsada':letrasUsadas[11] , 'letra':true}" (click)="validarLetra('L')">
      <img src="../../assets/svg/Letra L.svg">
    </div>
    <!-- Letra M -->
    <div [ngClass]="{'letraUsada':letrasUsadas[12] , 'letra':true}" (click)="validarLetra('M')">
      <img src="../../assets/svg/Letra M.svg">
    </div>
    <!-- Letra N -->
    <div [ngClass]="{'letraUsada':letrasUsadas[13] , 'letra':true}" (click)="validarLetra('N')">
      <img src="../../assets/svg/Letra N.svg">
    </div>
    <!-- Letra O -->
    <div [ngClass]="{'letraUsada':letrasUsadas[14] , 'letra':true}" (click)="validarLetra('O')">
      <img src="../../assets/svg/Letra O.svg">
    </div>
    <!-- Letra P -->
    <div [ngClass]="{'letraUsada':letrasUsadas[15] , 'letra':true}" (click)="validarLetra('P')">
      <img src="../../assets/svg/Letra P.svg">
    </div>
    <!-- Letra Q -->
    <div [ngClass]="{'letraUsada':letrasUsadas[16] , 'letra':true}" (click)="validarLetra('Q')">
      <img src="../../assets/svg/Letra Q.svg">
    </div>
    <!-- Letra R -->
    <div [ngClass]="{'letraUsada':letrasUsadas[17] , 'letra':true}" (click)="validarLetra('R')">
      <img src="../../assets/svg/Letra R.svg">
    </div>
    
    
  </div>

  <!--  Terceira linha  -->
<div class="divLetras">
  <!-- Letra S -->
  <div [ngClass]="{'letraUsada':letrasUsadas[18] , 'letra':true}" (click)="validarLetra('S')">
      <img src="../../assets/svg/Letra S.svg">
    </div>
  <!-- Letra T -->
  <div [ngClass]="{'letraUsada':letrasUsadas[19] , 'letra':true}" (click)="validarLetra('T')">
      <img src="../../assets/svg/Letra T.svg">
    </div>
    <!-- Letra U -->
    <div [ngClass]="{'letraUsada':letrasUsadas[20] , 'letra':true}" (click)="validarLetra('U')">
      <img src="../../assets/svg/Letra U.svg">
    </div>
    <!-- Letra V -->
    <div [ngClass]="{'letraUsada':letrasUsadas[21] , 'letra':true}" (click)="validarLetra('V')">
      <img src="../../assets/svg/Letra V.svg">
    </div>
    <!-- Letra W -->
    <div [ngClass]="{'letraUsada':letrasUsadas[22] , 'letra':true}" (click)="validarLetra('W')">
      <img src="../../assets/svg/Letra W.svg">
    </div>
    <!-- Letra X -->
    <div [ngClass]="{'letraUsada':letrasUsadas[23] , 'letra':true}" (click)="validarLetra('X')">
      <img src="../../assets/svg/Letra X.svg">
    </div>
    <!-- Letra Y -->
    <div [ngClass]="{'letraUsada':letrasUsadas[24] , 'letra':true}" (click)="validarLetra('Y')">
      <img src="../../assets/svg/Letra Y.svg">
    </div>
    <!-- Letra Z -->
    <div [ngClass]="{'letraUsada':letrasUsadas[25] , 'letra':true}" (click)="validarLetra('Z')">
      <img src="../../assets/svg/Letra Z.svg">
    </div>
    <!-- Letra Ç -->
    <div [ngClass]="{'letraUsada':letrasUsadas[26] , 'letra':true}" (click)="validarLetra('Ç')">
      <img src="../../assets/svg/Letra Ç.svg">
    </div>
  </div>