<div class="divPalavras">
  <h1 *ngIf="letrasDes.letra1; else elseLetra1">
    {{letras.letra1}}
  </h1>
  <ng-template #elseLetra1>
    <h1>_ </h1>
  </ng-template>
  <h1 *ngIf="letrasDes.letra2; else elseLetra2">
    {{letras.letra2}}
  </h1>
  <ng-template #elseLetra2>
    <h1>_ </h1>
  </ng-template>
  <h1 *ngIf="letrasDes.letra3; else elseLetra3">
    {{letras.letra3}}
  </h1>
  <ng-template #elseLetra3>
    <h1>_ </h1>
  </ng-template>
  <h1 *ngIf="letrasDes.letra4; else elseLetra4">
    {{letras.letra4}}
  </h1>
  <ng-template #elseLetra4>
    <h1>_ </h1>
  </ng-template>
  <h1 *ngIf="letrasDes.letra5; else elseLetra5">
    {{letras.letra5}}
  </h1>
  <ng-template #elseLetra5>
    <h1>_ </h1>
  </ng-template>
  <h1 *ngIf="letrasDes.letra6; else elseLetra6">
    {{letras.letra6}}
  </h1>
  <ng-template #elseLetra6>
    <h1>_ </h1>
  </ng-template>
  <h1 *ngIf="letrasDes.letra7; else elseLetra7">
    {{letras.letra7}}
  </h1>
  <ng-template #elseLetra7>
    <h1>_ </h1>
  </ng-template>
  <h1 *ngIf="letrasDes.letra8; else elseLetra8">
    {{letras.letra8}}
  </h1>
  <ng-template #elseLetra8>
    <h1>_ </h1>
  </ng-template>
  <h1 *ngIf="letrasDes.letra9; else elseLetra9">
    {{letras.letra9}}
  </h1>
  <ng-template #elseLetra9>
    <h1>_ </h1>
  </ng-template>
  <h1 *ngIf="letrasDes.letra10; else elseLetra10">
    {{letras.letra10}}
  </h1>
  <ng-template #elseLetra10>
    <h1>_ </h1>
  </ng-template>
  <p>{{palavraDaVez.dica}}</p>
</div>