<app-fundo></app-fundo>

<app-tentativas [tentativas]="tentativas" />

@if (!iniciou) {
    <app-press-start (iniciou)="iniciaJogo($event)" (ajuda)="abrirSinais($event)" />
} @else {
    <app-palavras [letras]="letras" [letrasDes]="letrasDes" [palavraDaVez]="palavraDaVez" />

    <app-letras (escolheuLetra)="escolheuLetra($event)" [letrasUsadas]="letrasUsadas" />

    <div class="botoesLateral">
        <app-botao-voltar (voltaInicio)="voltaInicio($event)" />
    </div>
}

@if (mensagemSuccess) {
    <app-mensagem-sucesso (reiniciou)="reiniciaJogo($event)" />
}

@if (mensagemLose) {
    <app-mensagem-errou (reiniciou)="reiniciaJogo($event)" />
}

@if (sinaisUsados) {
    <app-sinais-usados (fecharSinais)="fecharSinais($event)" />
}
