<div class="divPalavras">
  @if(letrasDes.letra1) {
    <h1>
      {{letras.letra1}}
    </h1>
  } @else {
    <h1>_ </h1>
  } 
  @if(letrasDes.letra2) {
    <h1>
      {{letras.letra2}}
    </h1>
  } @else {
    <h1>_ </h1>
  } 
  @if(letrasDes.letra3) {
    <h1>
      {{letras.letra3}}
    </h1>
  } @else {
    <h1>_ </h1>
  } 
  @if(letrasDes.letra4) {
    <h1>
      {{letras.letra4}}
    </h1>
  } @else {
    <h1>_ </h1>
  } 
  @if(letrasDes.letra5) {
    <h1>
      {{letras.letra5}}
    </h1>
  } @else {
    <h1>_ </h1>
  } 
  @if(letrasDes.letra6) {
    <h1>
      {{letras.letra6}}
    </h1>
  } @else {
    <h1>_ </h1>
  } 
  @if(letrasDes.letra7) {
    <h1>
      {{letras.letra7}}
    </h1>
  } @else {
    <h1>_ </h1>
  } 
  @if(letrasDes.letra8) {
    <h1>
      {{letras.letra8}}
    </h1>
  } @else {
    <h1>_ </h1>
  } 
  @if(letrasDes.letra9) {
    <h1>
      {{letras.letra9}}
    </h1>
  } @else {
    <h1>_ </h1>
  } 
  @if(letrasDes.letra10) {
    <h1>
      {{letras.letra10}}
    </h1>
  } @else {
    <h1>_ </h1>
  } 
  <p>{{palavraDaVez.dica}}</p>
</div>