

<div class="Auron" *ngIf="tentativas >= 6">
  <img src="assets/svg/PernaDireitaAuron.svg">
</div>

<div class="Auron" *ngIf="tentativas >= 5">
  <img src="assets/svg/PernaEsquerdaAuron.svg">
</div>

<div class="Auron" *ngIf="tentativas >= 2">
  <img src="assets/svg/CorpoAuron.svg">
</div>

<div class="Auron" *ngIf="tentativas >= 4">
    <img src="assets/svg/BracoDireitoAuron.svg">
  </div>
  
  <div class="Auron" *ngIf="tentativas >= 3">
    <img src="assets/svg/BracoEsquerdoAuron.svg">
  </div>

<div class="Auron" *ngIf="tentativas >= 1">
  <img src="assets/svg/CabecaAuron.svg">
</div>

<div class="Auron" *ngIf="tentativas >= 6">
  <img src="assets/svg/CabecaAuronMorto.svg">
</div>